// common
*
  +box-sizing(border-box)


// animation
%animation
  +transition-duration(250ms)
  +transition-timing-function($ease)
  +transition-property(all)

+keyframes(rotate)
  0%
    +transform-style(preserve-3d)
    +rotateY(0deg)
    opacity: 1
  50%
    opacity: 0.5
  100%
    +transform-style(preserve-3d)
    +rotateY(180deg)
    opacity: 1


html
  font-size: $fontSize + px


body
  background-color: $bgColor
  font-family: $fontFamily
  font-size: 1rem
  line-height: $lineHeight

  // Text Highlight
  ::selection
    background: lighten($color-link, 30%)
    color: $color-inverse


h1,
h2,
h3,
h4,
h5,
h6
  line-height: $lineHeight-title
  letter-spacing: $letterSpacing-title


a
  @extend %animation
  +linkColor("color")
  +transition-duration(250ms)
  cursor: pointer
  text-decoration: none

  img
    @extend %animation

  &:hover
    text-decoration: none

    img
      opacity: 0.6


.inner
  width: $width-pc
  margin: 0 auto
  padding-left: 10px
  padding-right: 10px


// stripe
.stripe
  width: 100%
  height: 4px
  display: table
  table-layout: fixed

  & > *
    display: table-cell

  .honoka
    background-color: #f8b500
  .eri
    background-color: #6fc8e5
  .kotori
    background-color: #c7c7c7
  .umi
    background-color: #4c6cb3
  .rin
    background-color: #00ccbb
  .maki
    background-color: #fd8029
  .nozomi
    background-color: #e792f6
  .hanayo
    background-color: #349934
  .niko
    background-color: #ff60bf


// main
#main
  // display: none !important // 仮
  +background-size(cover)
  background-position: 50% 50%
  background-color: $bgColor-inverse
  display: table
  text-align: center
  position: relative

  #overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0.25
    background-color: $color-link
    z-index: 4000

  .stripe
    position: absolute
    left: 0
    top: 0
    z-index: 5000

  #site-logo
    display: table-cell
    vertical-align: middle
    position: relative
    z-index: 6000
    padding-bottom: 50px

    img
      max-width: 90%

  .txt
    color: $color-inverse
    position: absolute
    z-index: 6000
    bottom: 100px
    right: 0
    left: 0
    margin: auto
    +fontSize(25)
    font-style: italic
    letter-spacing: $letterSpacing-title
    +scaleY(1.1)


  // gobottom
  #gobottom
    position: absolute
    z-index: 6000
    right: 0
    bottom: 30px
    left: 0
    margin: auto
    width: 66px
    cursor: pointer
    line-height: 0

    img
      width: 100%
      height: auto
      +animation-name(rotate)
      +animation-duration(1.5s)
      +animation-timing-function(linear)
      +animation-iteration-count(infinite)


// header
#header
  background-color: $bgColor
  width: 100%
  border-top: 4px solid #2b2b2b
  border-bottom: 4px solid #2b2b2b
  position: absolute
  left: 0
  z-index: 20000
  text-align: right

  #toggle
    margin-top: 10px
    margin-right: 10px
    $size: 35px
    display: none
    font-size: $size
    line-height: $size
    width: $size
    height: $size
    text-align: center

    & *:before
      margin-left: 0
      margin-right: 0


  ul
    display: table
    table-layout: fixed

    li
      display: table-cell
      +fontSize(22)
      font-weight: bold
      text-align: center
      line-height: $height-header-pc
      text-transform: uppercase
      letter-spacing: $letterSpacing-title

  &.fixed
    position: fixed
    top: 0
    left: 0
    background-color: rgba(255,255,255,0.9)


// content
#content
  margin-top: $height-header-pc + 4.5em

  h2
    +fontSize(28)
    font-weight: bold
    margin-top: 1em
    text-transform: uppercase

  ul
    width: 100%
    +clearFix
    margin-top: 1.5em

    li
      $margin: 20px
      $columns: 4
      $width: (($width-pc - 20) - $margin * ($columns - 1)) / $columns
      float: left
      width: $width
      margin-left: $margin
      margin-bottom: 2em

      &:nth-child(4n+1)
        margin-left: 0
        clear: both

      .imgWrapper
        display: block

        &:hover
          opacity: 0.7

        .img
          position: relative
          height: $width
          +background-size(contain)
          background-repeat: no-repeat
          background-position: center center

      h3
        +fontSize(13)
        font-weight: bold
        margin-top: 1em
        margin-bottom: 0.3em

      .add,
      .release
        +fontSize(11)
        color: $color-sub
        // margin-top: 0.2em
        line-height: $lineHeight-title

      // have
      &.have
        .img:after
          font-family: $fontFamily-icon
          content: '\e812'
          position: absolute
          top: 0
          right: 0
          bottom: 0
          left: 0
          margin: auto
          $size: 150px
          font-size: $size
          line-height: $size
          width: $size
          height: $size
          text-align: center
          opacity: 0.85
          color: $color-link
          @extend %animation

        &:hover
          .img:after
            opacity: 0
            +scale(0.5)

  section
    & > p
      margin-top: 1.5em

  // #content #about
  #about
    a
      +linkColor("color-link")


// footer
#footer
  .inner
    margin-top: 8em
    margin-bottom: 5em
    +fontSize(13)

    .share
      margin-top: 1em
      +clearFix

      .button
        float: left
        margin-left: 5px
        margin-right: 5px
        height: 20px

        &:first-child
          margin-left: 0

        &.share-fb
          .fb-like
            height: 20px

            & > span
              vertical-align: top !important

  #backtop
    line-height: 0
    position: fixed
    right: 0
    bottom: -100px
    cursor: pointer
    @extend %animation
    width: 100px
    opacity: 0

    img
      width: 100%
      height: auto

    &.show
      opacity: 1
      bottom: -39px

    &:hover
      bottom: 0