// common
*
  +box-sizing(border-box)


// animation
%animation
  +transition-duration(250ms)
  +transition-timing-function($ease)
  +transition-property(all)

+keyframes(rotate)
  0%
    +transform-style(preserve-3d)
    +rotateY(0deg)
    opacity: 1
  50%
    opacity: 0.5
  100%
    +transform-style(preserve-3d)
    +rotateY(180deg)
    opacity: 1


html
  font-size: $fontSize + px


body
  background-color: $bgColor
  font-family: $fontFamily
  font-size: 1rem
  line-height: $lineHeight

  // Text Highlight
  ::selection
    background: lighten($color-link, 30%)
    color: $color-inverse


h1,
h2,
h3,
h4,
h5,
h6
  line-height: $lineHeight-title


a
  @extend %animation
  +linkColor("color")
  +transition-duration(250ms)
  cursor: pointer
  text-decoration: none

  img
    @extend %animation

  &:hover
    text-decoration: none

    img
      opacity: 0.6


.inner
  width: $width-pc
  margin: 0 auto
  padding-left: 10px
  padding-right: 10px


// main
#main
  display: none !important // 仮
  +background-size(cover)
  background-color: $bgColor-inverse
  display: table
  text-align: center
  position: relative

  #site-logo
    display: table-cell
    vertical-align: middle

  // stripe
  #stripe
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 4px
    display: table
    table-layout: fixed

    & > *
      display: table-cell

    .honoka
      background-color: #f8b500
    .eri
      background-color: #6fc8e5
    .kotori
      background-color: #c7c7c7
    .umi
      background-color: #4c6cb3
    .rin
      background-color: #00ccbb
    .maki
      background-color: #fd8029
    .nozomi
      background-color: #e792f6
    .hanayo
      background-color: #349934
    .niko
      background-color: #ff60bf

  // gobottom
  #gobottom
    position: absolute
    right: 0
    bottom: 30px
    left: 0
    margin: auto
    width: 66px
    height: 47px
    cursor: pointer

    img
      +animation-name(rotate)
      +animation-duration(1.5s)
      +animation-timing-function(linear)
      +animation-iteration-count(infinite)


// header
#header
  background-color: $bgColor
  width: 100%
  border-top: 4px solid #2b2b2b
  border-bottom: 4px solid #2b2b2b

  ul
    display: table
    table-layout: fixed

    li
      display: table-cell
      font-size: 130%
      font-weight: bold
      text-align: center
      line-height: 70px
      text-transform: uppercase


// content
#content
  h2
    font-size: 165%
    font-weight: bold
    margin-top: 60px
    text-transform: uppercase

  ul
    width: 100%
    +clearFix
    margin-top: 1.5em

    li
      $margin: 20px
      // $width: ($width-pc - 20) / 4 - $margin / 4 - 20px
      $width: (($width-pc - 20) - $margin * 3) / 4
      float: left
      width: $width
      margin-left: 20px
      margin-bottom: 2.3em;

      &:nth-child(4n+1)
        margin-left: 0
        clear: both

      .imgWrapper
        display: block

        .img
          position: relative
          height: $width
          +background-size(contain)
          background-repeat: no-repeat
          background-position: center center

      h3
        +fontSize(13)
        font-weight: bold
        margin-top: 1em

      .date
        +fontSize(11)
        color: $color-sub
        margin-top: 0.2em

      // have
      &.have
        .img:after
          font-family: $fontFamily-icon
          content: '\e812'
          position: absolute
          top: 0
          right: 0
          bottom: 0
          left: 0
          margin: auto
          font-size: 150px
          line-height: 150px
          width: 150px
          height: 150px
          text-align: center
          opacity: 0.8
          color: #e4007f