%section
  %h2 Music
  %ul
    %li
      %article
        %p.img
          %a(href="#" target="_blank")
            %img(src="#")
        %h3<
          %a(href="#" target="_blank") title
        %p.date
          %time(pubdate="") date